extends layout

block content
  h1= title
  h1 Your numbers are
  ul
     each k, i in Numbers
      li
      p Entry:
        =k._id

      p Number:
        = k.newNumber
        p
        a(href=('/#{k._id}/edit')) Edit
          form(action='/#{k._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
              input(type='hidden',value='DELETE',name='_method')
              button(type='submit').
                Delete



  form(action = '/', method = 'post')
    input.form-control(type = 'text', name = 'inputNumber', placeholder='Enter new number')
    button(type = 'submit').
            Submit