extends layout

block content
  h1= title
  h1 Your numbers are
  ul
    - each k, i in Numbers
      li
      =k.newNumber
  form(action = '/', method = 'post')
    input.form-control(type = 'text', name = 'inputNumber', placeholder='Enter new number')
    button(type = 'submit') Submit